* {
    body-margin:0px;
}

.bg-container {
   background-color:#DEB887;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family:"Roboto";
}

.label {
    font-weight:500;
    color:#663399;
    margin:2px;
}

.user-input {
    outline:none;
    padding:10px;
    border-radius:8px;
    border-color:#4169E1;
    margin:5px;
}

.button {
    cursor:pointer;
    padding:10px;
    background-color:#ADD8E6;
    border:0px;
    border-radius:8px;
}